$colorblanc : #FEEFEF;
$colorNoir : #393939;

body {
    color: $colorblanc;
}

#app {
    margin-top: 50vh;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
}

.container {
    border: solid 1px $colorNoir;
    height: 550px;
    width: auto;
    margin: auto;
    padding: 15px;

}

.sg-border {
    width: auto;
    padding: 15px;
    border: 1px solid $colorNoir;
}

.sg-word {
    text-align: center;
    padding: 15px;
    color: #393939;
    font-size: 35px;
}

#sg-hidden {
    display: none;
}

html {
    background: url("../asset/decorated-3561710_1920.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}